body {
	font-family: Roboto;
	font-weight:300;
	color:#ffffff;
}

hr {
	border-color:#286090;
	width:100%;
}

.link {
	color:#fff;
	text-decoration:none;
}

.link:hover {
	color:#0ce3ac;
	cursor:pointer;
}

.anchor::before {
	display:block;
	position:relative;
	width:0;
	height:20px;
}

.panel-category {
	width:150px;
	
	padding: 10px 15px;
	
	background-color:#286090;
	
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.title {
	font-size:20px;
}

.projectContainer {
	margin-bottom:30px;
	
	border-top:1px solid #286090;
	
	width:100%;
}

.projectContent {
	display:inline-block;
	position:relative;
	vertical-align:top;
	margin:20px 20px 20px 0px;
	
	width:250px;
	height:300px;
	background-color:#303030;
	border:1px solid #286090;
	border-radius:5px;
	
}

.projectContent img {
	display:block;
	overflow:hidden;
	
	object-fit:cover;
	width:250px;
	height:240px;
	border-radius:5px 5px 0px 0px;
}

.projectInfoContainer {	
	width:250px;
	height:60px;	
}

.projectInfoContent {
	padding:10px;
}

.projectInfoContent h3 {
	font-size:1em;
	margin:0;
}

.projectInfoContent p {
	font-size:0.75em;
	margin:0;
}