/* elements */
html {
    height:100%;
    width:100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    width:100%;
    overflow-x: hidden;
}

section {
    width:100%;
    display:flex;
    position:relative;
}

section:last-of-type {
    padding-bottom:4rem !important; 
}

footer {
    padding:20px;
}

h1 {
    font-size:3em;
    font-family: 'Playfair Display', serif;
    font-weight:700;
}

a {
    text-decoration:none;
}

a:hover {
    text-decoration: none;
}

/* classes */
.height-100 {
    min-height:100vh;
}

.height-80 {
    min-height:80vh;
}

.height-60 {
    min-height:60vh;
}

.local-scroll {
    position:absolute;
    left:50%;
    transform:translate(-50%,0);
    bottom:1em;
}

.btn-back {
    position:absolute;
    left:1em;
    top:1em;
}

.subheading {
    font-family: 'Playfair Display', serif;
    font-weight:400;
}

.filters a {
    margin-left:10px;
    margin-right:10px;
    cursor: pointer;
    text-decoration:none;
}

.filters a:active {
    text-decoration:none;
}

.full-art {
    display:block;
	margin-left:auto;
	margin-right:auto;
	max-width:100%;
	max-height:90vh;
}

/* ids */