body {
	font-family: Roboto;
	font-weight:300;
	background-color:#222222;
	color:#ffffff;
	margin:0px;
}

hr {
	color:#286090;
}

#bodyContainer {
	margin:20px 15% 10px 15%;
	padding:10px;
}

.panel {
	margin-bottom:30px;
	
	background-color:#303030;
	border:1px solid transparent;
	border-radius:5px;
}

.panel-heading {
	padding:10px 15px;
	
	border-top-left-radius:5px;
	border-top-right-radius:5px;		
}

 .panel-title {
	margin-top:0;
	margin-bottom:0;
	
	font-size:20px;
}

.panel-body {
	padding:15px;
}

.panel-primary {
	border-color:#286090;
}

.panel-primary>.panel-heading{
	color:#fff;
	background-color:#286090;
}

.panel-warning {
	border-color:#f39c12;
}

.panel-warning>.panel-heading {
	color:#222222;
	background-color:#f39c12;
}