/* elements */
html {
    height:100%;
    width:100%;
    scroll-behavior: smooth;
}

section {
    width:100%;
    display:flex;
    padding:20px;
}

footer {
    padding:20px;
}

h1 {
    font-size:3em;
}

/* classes */
.align-vertical {
    align-items:center;
}

.align-horizontal {
    justify-content: center;
}

.text-align-right {
    text-align:right;
}

.text-align-center {
    text-align:center;
}

.height-100 {
    min-height:100vh;
}

.height-80 {
    min-height:80vh;
}

.height-60 {
    min-height:60vh;
}
/* ids */