.hidden {
	display:none;
}

body {
	font-family: Roboto;
	font-weight:300;
	background-color:#eaf2ff;
}

hr {
	border-color:#79abfc;
}

.projectContainer {
	display:flex;
	flex-flow:row wrap;
	justify-content:space-around;
	align-items:stretch;
	-webkit-justify-content:space-around;
	-webkit-flex-flow:row wrap;
	-webkit-align-items:stretch;
	
	margin:0 auto;
	padding:5px;
	width:75%;
	/*background-color:#cee1ff;*/
}

.newProjectContent {
	display:inline-block;
	position:relative;
	vertical-align:top;
	margin:5px;
	padding:0px;
	
	width:250px;
	height:300px;
	background-color:#79abfc;
	border-radius:10px;
}

.newProjectContent:hover {
	-webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
	cursor:pointer;
}

.newProjectContent img {
	display:block;
	overflow:hidden;
	
	object-fit:cover;
	width:250px;
	height:240px;
	border-radius:10px 10px 0px 0px;
}

.projectInfo {
	display:inline-block;
	padding:10px;
	
	width:250px;
	height:60px;
}

.projectInfo h3 {
	font-size:1em;
	color:#fff;
	margin:0;
}

.projectInfo p {
	font-size:0.75em;
	margin:0;
}

#comingSoon {
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	cursor:auto;
}

.overlay {
	position:fixed;
	
	top:0;
	left:0;
	bottom:0;
	right:0;
	background-color:rgba(0,0,0,0.5);
	transition:all .5s ease;
}

.popupContent {
	position: absolute;
	margin:auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
	
	width:50%;
	height:80%;
	border:none;
}
