body {
	font-family: Roboto;
	font-weight:300;
	background-color:#303030;
	color:#ffffff;
}

hr {
	color:#286090;
}

.nav {
	margin-bottom:10px;
}

.navbar{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:#286090;
	height:45px;
}

.navbar li {
    float:left;
	vertical-align:middle;
}

.navbar li a {
    display:block;
    color:white;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
}

.navbar li a:hover:not(.active) {
    background-color:#28415b;
}

iframe {
	position:absolute;
    left: 0px;
    width: 100%;
    height: 100%;
}