#logo img {
	height:30px;
	margin:7px;
}

.navbg {
	width:100%;
}

.navbar{
	overflow:hidden;
	
	height:44px;
	
	margin:0px;
	padding-left:15%;
	
	background-color:#286090;
	list-style-type:none;		
}

.navbar li {
    float:left;
	
	height:100%;
	
	vertical-align:middle;
}

.navbar li a {
    display:block;
	
	padding:10px 16px;
	
    color:white;
	font-size:20px;
    text-align:center;  
    text-decoration:none;
	cursor:pointer;
}

.navbar li a:hover {
    color:#0ce3ac;
}