.navbg {
	width:100%;
}

.navbar{
	overflow:hidden;
	
	height:60px;
	
	margin:0px;
	padding-left:15%;
	
	background-color:#286090;
	list-style-type:none;		
}

.navbar li {
    float:left;
	
	height:100%;
	
	vertical-align:middle;
}

.navbar li a {
    display:block;
	
	padding:18px 16px;
	
    color:white;
	font-size:20px;
    text-align:center;  
    text-decoration:none;
}

.navbar li a:hover:not(.active) {
    background-color:#28415b;
}